<div class="containet-fluid bg-body-tertiary">
  <div class="row justify-content-between mx-4 px-4">
    <div class="col-md-5 p-0"><button class="btn btn-outline-dark bi-pencil">تعديل</button></div>
    <div class="col-md-2 px-2 text-end p-0">تذكرة رقم <button class="btn btn-outline-dark bi-arrow-right"></button></div>
  </div>
  <div class="row justify-content-center p-3 px-0">
    <div class="col-md-4">
      <app-ticket></app-ticket>
    </div>
    <div class="col-md-7">
      <app-chart></app-chart>
    </div>
  </div>
  <app-table></app-table>
</div>