<div class="container px-2">
  <div class="row p-0 m-0">
    <div class="col-md-3">
      <button class="bn54">
        <span class="bn54span">حجز تذكرة جديدة</span>
      </button>
    </div>
    <div class="col-md-3">
      <label for="" style="width: 70px; text-align: end;">{{activeText}}</label>
      <label class="switch">
        <input type="checkbox" (change)="activtety()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="matable">
    <thead>
      <tr>
        <th scope="col" class="text-end">التذكرة</th>
        <th scope="col" class="text-end">عدد مرات الشراء</th>
        <th scope="col" class="text-end">عدد الاشخاص</th>
        <th scope="col" class="text-end">السينمات</th>
        <th scope="col" class="text-end">قيمى التذكرة <!--<i class="bi bi-arrow-down-up"></i> --></th>
        <th scope="col" class="text-end">رقم التذكرة</th>
        <th scope="col" class="text-end">المستخدم</th>
        <th scope="col" class="text-end">#</th>
      </tr>
    </thead>
    <tbody>
      @for (ticket of ticketss.data; track $index) {
      <tr>
        <td><a href=""><i class="bi bi-file-arrow-down"></i> تذكرة رقم {{ticket.ticketId}}</a></td>
        <td>1</td>
        <td>{{ticket.adultCount+ticket.childCount}}</td>
        <!-- <td><span data-tooltip="hellow">{{place}}</span></td> -->
        <td class="cinema-name" [attr.data-tooltip]="place">{{place}}</td>
        <td>{{ticket.finalAmount}}</td>
        <td>{{ticket.ticketNo}}</td>
        <td>
          <div class="row m-0">
            <div class="col-md-9">
              <p class="m-0">{{ticket.customerName}}</p>
              <small class="fw-lighter">{{ticket.mobileNo}}</small>
            </div>
            <div class="col-md-3 p-0">
              <img class="rounded-circle" width="45" height="45" [src]="img" alt="a">
            </div>
          </div>
        </td>
        <td scope="row" >{{$index}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>