<div class="ticket">
    <div class="row justify-content-between m-2 p-3">
        <div class="col-md-2">
            <button class="btn btn-outline-light"><i class="bi bi-trash3"></i></button>
        </div>
        <div class="col-md-10 text-center">
            عرض التذكرة الخاصة بالفيلم
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="ticketLink">
            <p><button (click)="copyToClipboard()" class="btn bi-copy" style="color: blueviolet;"></button>
                <span>{{clip}}</span></p>
        </div>
    </div>
    <div class="row  p-2">
        <p class="text-center">فعال حتي</p>
    </div>
    <div class="row justify-content-between tickett p-2">
        <div class="circle1">s</div>
        <div class="circle2"></div>
    </div>
    <div class="row m-0  py-2">
        <div class="col-md-5 m-1">
            <img width="50%"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Qrcode_wikipedia_fr_v2clean.png/900px-Qrcode_wikipedia_fr_v2clean.png?20160605221916"
                alt="" class="img-fluid">
            <!-- <qrcode [qrdata]="'Your data string'" [width]="90" [errorCorrectionLevel]="'M'"></qrcode> -->

        </div>
        <div class="col-md-4 align-self-end">
            <button class="btn btn-outline-light"> مشاركة <i class="bi bi-send"></i> </button>
        </div>
        <div class="col-md-2 align-self-end">
            <p class="m-0 p-0">خصم %25</p>
        </div>
    </div>
</div>