<div class="ticket">
    <div class="row justify-content-between m-2 p-3">
        <div class="col-md-2">
            <button class="btn btn-outline-light"><i class="bi bi-trash3"></i></button>
        </div>
        <div class="col-md-10 text-end">
            عرض التذكرة الخاصة بالفيلم
        </div>
    </div>
    <div class="row ticketLink mx-5 px-0">
        <p class="my-2 px-0 text-center"><a href=""><i class="bi bi-copy"></i> </a> www.tazkty.com/473847</p>
    </div>
    <div class="row  p-2">
        <p class="text-center">فعال حتي</p>
    </div>
    <div class="row align-content m-0  py-2">
        <div class="col-md-5 m-1">
            <img width="50%"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Qrcode_wikipedia_fr_v2clean.png/900px-Qrcode_wikipedia_fr_v2clean.png?20160605221916"
                alt="" class="img-fluid">
        </div>
        <div class="col-md-4 align-self-end">
            <button class="btn btn-outline-light"> مشاركة <i class="bi bi-send"></i> </button>
        </div>
        <div class="col-md-2 align-self-end">
            <p class="m-0 p-0">خصم %25</p>
        </div>
    </div>
</div>